@import "compass";
@import "partials/variables";
@import "partials/normalize";

* {
  box-sizing: border-box;
}

html,
body {
  background-image: url(../images/background.png);
  //background-color: $dark-background;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  color: $white;
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  &:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

.container.page-top {
  display: flex;
  display: -webkit-flex;

  header {
    img {
      margin: 15px;
      width: 200px;
      height: auto;
    }
  }

  nav {
    height: inherit;
    ul {
      display: flex;
      display: -webkit-flex;
      height: 100%;
      @include align-items(center);

      li.nav--item {
        margin: 5px;
        border-bottom: 6px solid $light-blue;
        @include flex(1);
        padding: 10px 0;
        text-align: center;
        font-size: 16px;
        @include transition(border-bottom-color 1s);
        &:hover {
          border-bottom-color: $white;
        }
      }
    }
  }
}

footer {
  min-height: 20vh;
  background-color: $orange;
  padding: 40px 0 80px;
  .footer--desc {
    h3 {
      color: $dark-blue;
      font-weight: bold;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    .input-group {
      margin-bottom: 15px;
      .input-group-addon,
      .form-control {
        border-radius: 0;
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
      }
      .input-group-addon {
        border-bottom: 3px solid $dark-blue;
        color: $dark-blue;
        font-weight: bold;
      }
      .form-control {
        border-bottom: 1px solid $dark-blue;
        color: $white;
      }
    }
  }
}
